.relative {
    position: relative;
    max-width: 600px;
    margin: auto;
}
.absolute {
    position: absolute;
    top: 20px;
    border: 2px solid black;
    text-align: center;
    max-width: 600px;
    left: 0;
    right: 0;
}