.top {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.buttons {
    padding-top: 5px;
    padding-right: 10px;
    text-align: center;
    cursor: pointer;
}

.LoginButton {
    padding: 8px 28px;
    background-color: rgb(231, 71, 71);
    color: white;
}

.SignupButton {
    padding: 8px 28px;
    background-color: rgb(231, 71, 71);
    color: white;
}