
table {
    margin-left: auto; 
    margin-right: auto;
    margin-top: 60px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
  }

  .LeftPadding {
    padding-left: 40px;
  }
  
  .Qty {
    text-align: center;
  }

  td {
    font-size: small;
    text-align: left;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  
  th {
    height: 27px;
    font-weight: lighter;
    font-size: small;
    background-color: rgb(81, 0, 128);
    color: white;
    text-align: left;
    padding: 5px;
  }

  tr:nth-child(even) {
    background-color: #f5efef;
  }