@media screen and (max-width: 769px) {
    .intro {
      min-height: 0;
      height: 40vh;
      width: 100%;
      max-height: 500px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .intro-info h1 {
      font-size: 3em;
      font-weight: 300;
      line-height: 1;
      position: relative;
      bottom: 30px;
    }
    .intro .intro-info h1 b {
      display: block;
    }
    .toptext div a {
      font-size: 16px !important;
    }
    .about .section h1 {
      padding-top: 36px;
      font-size: 1.6em;
    }
    .about .text h2 {
      font-size: 1.3em;
    }
    .about .overview {
      height: auto;
      padding-bottom: 50px;
    }
    .about .company h2 {
      font-size: 1.13em;
      font-weight: 300;
    }
    i {
      font-size: 0.6em;
      line-height: 0.1;
    }
    .Active {
      margin-top: 13px;
      margin-left: 20px;
      width: 100px;
      height: 30px;
    }
    
    .topnav {
      overflow: hidden;
      position: relative;
    }
    
    .header-sm {
      z-index: 10;
      position: fixed !important;
      top: 0px !important;
      left: 0px !important;
      width: 100%;
      background-color: white !important;
    }
  
    .dropdown-links {
      display: none;
      text-align: center;
    }
  
    .link1{
        border-top: 2px solid black;
    }
  
    .link4{
        border-bottom: 2px solid black;
    }
  
    .topnav a.icon {
      float: right;
      display: block;
      font-size: 30px;
      color: black;
      text-decoration: none;
      padding: 10px 16px;
      /* height: 100%; */
    }
  
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: -3px;
    }
  
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
      color:#2B5591;
      text-decoration: none;
      padding: 10px 16px;
    }
    .about .team .circles .circle {
      display: inline-block;
      width: 48%;
      vertical-align: top;
      margin: 20px 0;
    }
  }
  
  @media screen and (max-width: 499px) {
    .about_one_heading_image_1 {
      width: 80%;
    }
    .about .team .circles .circle {
      display: inline-block;
      width: 97%;
      vertical-align: top;
      margin: 20px 0;
    }
    .toptext{
      width: 95%;
    }
  }

  @media screen and (min-width: 500px) {
    .about_one_heading_image_1 {
      width: 80%;
    }
  }